body {
    background-color: rgb(203 253 223);
}

header {
    background-color: rgb(255 210 245);
    text-align: center;
}

li {
    list-style: none;
}

.card-deck {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 150px;
}

.list-group button{
    text-align: center;
    background-color: #b4b4b4;
    margin: 5px;
    color: rgb(203 253 223);
    font-size: 20px;
    font-weight: bold;
}