header {
    background-color: rgb(141, 6, 156);
    text-align: center;
}

.test {
    padding: 5px;
}

li {
    list-style: none;
}

.card-deck {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 150px;
}

.list-group  a {
    text-align: center;
    background-color: aqua;
}